body{background-image: url(../images/bg.jpg);background-repeat: no-repeat;}
a{text-decoration: none;}
a:link{color: #522a06;}
a:hover{text-decoration: underline;}
#top{width: 100%;}
.top_top{background-image: url(../images/top_bg.png);background-repeat: no-repeat;height: 225px;}
.top_banner{padding-left: 20px;padding-top: 10px;width: 150px;height: 80px;}
.top_bottom{background-image: url(../images/nav.jpg);width: 100%;height: 50px;}
.top_bottom_link{background-image: url(../images/top_link.jpg);width: 150px;height: 30px; float: left;margin: 10px;}
.top_bottom_link a{font-size: 20px;padding-left: 40px; height:30px; line-height:30px;}
.nav_search{float: right;margin-top: 10px;margin-bottom: 10px;margin-right: 40px;}
.shurukuang{width: 140px;height: 19px;background-color: #f8f5ee;}
.sosuo{width: 44px;height: 21px;background-color: #000;color: #fff;border-width: 1px;border-style: solid;border-color: #f8f5ee;}
#footer{height: 105px;clear: both;background-image: url(../images/footer_bg.jpg);text-align: center;}
.footer_a{text-align: center;}
.footer_p{text-align: center;line-height: 20px;}
#content{margin-top: 10px;}
.content_top{width: 100%;}
.p1{color: blue;font-size: 20px;font-weight: bold;text-align: center;}
.content_top_left{width: 400px;float: left;border-right:dashed 1px black;}
.content_top ul li a{font-size: 15px;line-height: 2em;text-align: left;}
.content_top ul li span{float: right;padding-right: 10px;}
.content_top_center{float: left;width: 430px;border-right:dashed 1px black;}
.content_top_right{float: left;width: 500px;}
.content_bottom{width: 100%}
.content_bottom_left{width: 600px;margin: 10px;float: left;margin-top: 35px;border-right:dashed 1px black;}
.content_bottom ul li a{font-size: 15px;line-height: 2em;text-align: left;}
.content_bottom ul li span{float: right;padding-right: 10px;}
.content_bottom_right{width: 650px;float: left;margin: 10px;margin-left: 40px;}
.bottom_pic{width: 180px;float: left;margin: 10px;}
.bottom_pic img{width: 180px;height: 120px;}
.content_center_left{width: 700px;margin: 20px;float: left;}
.content_center_left span{font-size: 30px;font-weight: bolder;color: black;text-align: left;}
.content_center_left p{text-indent: 2em;line-height: 2em;font-size: 15px;}
.content_center_right{width: 400px;margin: 20px;float: left;}
.content_center_right img{width: 500px;height: 484px;}