body{font-size: 12px;color: #522a06;font-family: '宋体';padding: 0px;background-image: url(../images/bodybg.gif);}
img{border: none;}
ul{list-style-type: none;list-style-image: url(../images/pot.gif);text-align: left;line-height: 2em;}
a{text-decoration: none;}
a:link{color: #522a06;}
a:hover{text-decoration: underline;}
#header{height: 205px;background-image: url(../images/bg.gif);background-position: center top;}
#banner{text-align: center;width: 1000px;height: 164px;position: center;margin-top: 38px;margin-left: 25px;}
#nav{height: 40px;background-image: url(../images/nav.jpg);}
.nav_body{width: 1000px;}
.nav_content{width: 830px;font-weight: bold;color: #fff;float: left;margin-left: 30px;margin-top: 10px;margin-bottom: 10px;}
.nav_search{float: left;margin-top: 10px;margin-bottom: 10px;}
.link{height: 40px;font-size: 13px;}
.link a:hover{color: #f9f603;text-decoration: none;}
#shouye{color: #f9f603;}
.shurukuang{width: 140px;height: 19px;background-color: #f8f5ee;}
.sosuo{width: 44px;height: 21px;background-color: #000;color: #fff;border-width: 1px;border-style: solid;border-color: #f8f5ee;}
#footer{height: 105px;clear: both;background-image: url(../images/foot.gif);text-align: center;}
.footer_a{text-align: center;}
.footer_p{text-align: center;line-height: 20px;}
#content{width: 1000px;overflow: hidden;margin-left: 150px;}
.content_left{width: 700px;float: left;margin-top: 5px;}
.content_right{width: 280px;float: left;margin-left: 16px;}
.content_left span{height: 20px; line-height: 20px;width: 280px;font-size: 15px;color: #9c661f;}
.left_top_top{font-size: 16px;height: 45px;line-height: 45px;text-align: center;border-bottom:1px solid #c9baa5;}
.left_top_bottom{text-align: center;font-size: 12px;color: #727272;margin: 10px;}
.left_center{line-height: 28px;padding: 10px;font-size: 14px;border-bottom: 1px solid #c9baa5;}
.center_text{text-indent: 2em;margin-top: 5px;}
.center_pic{margin: 20px;}
.left_bottom{height: 40px;line-height: 40px;margin-top: 10px;font-size: 13px;}
.left_bottom a{margin-right: 40px;color: #844004;font-size: 13px;}
.right_top{border:1px solid #c9baa5;background-image: url(../images/bg.png);margin-bottom: 20px;margin-top: 40px;}
.right_top_pic{margin-bottom: 10px;}
.right_top li{line-height: 30px;margin-left: 13px;list-style: none;text-align: left;}
.one{margin-left: 40px;}
.right_bottom{width: 280px;margin-top: 40px;margin-bottom: 20px;}
.show{background-image: url(../images/show.png);height: 23px;background-position: center;background-repeat: no-repeat;}
.mingjia{background-image: url(../images/show_bg.png);width: 280px;height: 362px;background-position: center;background-repeat: no-repeat;}
.mingjia_img{width: 224px;position: center;margin-top: 25px;margin-left: 25px;}
.ouyang{font-size: 10px;line-height: 20px;text-align: center;width: 250px;margin-left: 20px;}
.ouyang span{font-weight: bold;color: #b70000;}
.view{text-align: left;}