body{text-align:center;font-size: 12px;color: #522a06;font-family: '宋体';padding: 0px;background-image: url(../images/bodybg.gif);}
img{border: none;}
ul{list-style-type: none;list-style-image: url(../images/pot.gif);text-align: left;line-height: 2em;}
a{text-decoration: none;}
a:link{color: #522a06;}
a:hover{text-decoration: underline;}
#header{height: 205px;background-image: url(../images/bg.gif);background-position: center top;}
#banner{width: 1000px;height: 164px;position: center;margin-top: 38px;margin-left: 25px;}
#nav{height: 40px;background-image: url(../images/nav.jpg);}
.nav_content{width: 830px;font-weight: bold;color: #fff;float: left;margin-left: 30px;margin-top: 10px;margin-bottom: 10px;}
#shouye{color: #f9f603;}
.nav_search{float: left;margin-top: 10px;margin-bottom: 10px;}
.shurukuang{width: 140px;height: 19px;background-color: #f8f5ee;}
.sosuo{width: 44px;height: 21px;background-color: #000;color: #fff;border-width: 1px;border-style: solid;border-color: #f8f5ee;}
#footer{height: 105px;clear: both;background-image: url(../images/foot.gif);}
.footer_a{text-align: center;}
.footer_p{text-align: center;line-height: 20px;}
#content{width: 1000px;text-align: center;margin-left: 150px;}
.content_left{width: 280px;margin-right: 20px;float: left;}
.content_right{width: 700px;float: left;margin-top: 20px;}
.content_left span{height: 20px; line-height: 20px;width: 280px;text-align: center;font-size: 20px;color: #9c661f;}
.left_top{width: 280px;background-color: #dcdcdc;border:solid;border-width: 1px;border-color: #808a87;}
.top_pic{position: center top;width: 280px;height: 54px;}
.content_link{text-decoration: none;color: black;padding-left: 70px;font-size: 20px;}
.one li{height: 26px;line-height: 26px;list-style: none;padding-bottom: 20px;}
.one li a:hover{color: red;background-image: url(../images/menubg.gif);background-repeat: no-repeat;text-decoration: none;}
.left_bottom{width: 280px;background-color: #dcdcdc;border:solid;border-width: 1px;border-color: #808a87;margin-top: 20px;}
.bottom_pic{position: center top;width: 280px;height: 54px;}
.content_pic{width: 280px;margin-top: 20px;margin-bottom: 20px;}
.two{width: 280px;}
.right_top{background-image: url(../images/listtitle.png);background-repeat: no-repeat;width: 700px;height: 54px;}
.right_top span{color: #802a2a;font-size: 30px;}
.right_link {color: #9c661f;list-style-image: url(../images/pot.gif);font-size: 20px;line-height: 2em;}
.bottom_left span{float: right;}
.three{text-align: center;margin-left: 120px;}
.four{border: solid;border-width: 1px; margin: 1px;float: left;width: 20px;height: 20px;padding: 5px;font-size: 10px;}