.box{background:url(../image/bj.png) no-repeat;height:400px;padding-left:25px;padding-right:30px;}
.o{background:url(../image/header.png) no-repeat;height:60px;width:300px;padding:10px 100px;}
.t{background:url(../image/lvbiaoti.png) no-repeat;height:35px;width:300px;padding:10px 50px;color:white;}
.th{padding:0px 50px;color:gray;background:url(../image/baibiaoti.png) no-repeat;height:40px;width:300px;margin-top:0px;margin-bottom:0px;}
	